@{
    ViewBag.Title = "TKCaNhan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link href="~/Assets/Admin/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="bg-light">
    <div class="bg-image shadow-sm"
         style="background-image: url('/Assets/Client/hotel-wall-2.jpg');">
        <div class="bg-dark bg-opacity-50 text-light p-5 d-flex flex-row">
            <div class="container-fluid w-50 my-5 fs-5" style="margin: 2rem 7rem">
                <div class="d-flex flex-row mb-3">
                    <div class="text-capitalize fs-1 fw-bolder">
                        nguyễn đắc lợi
                    </div>
                </div>
                <div class="d-flex flex-row">
                    <div>
                        <b>Email: </b><span>ndacloihh@gmail.com</span>
                    </div>
                </div>
                <div class="d-flex flex-row">
                    <div>
                        <b>SDT: </b><span>0921 8322 589</span>
                    </div>
                </div>
                <div class="d-flex flex-row">
                    <div>
                        <b>Địa chỉ: </b><span>72 Tân Thới TP.HCM</span>
                    </div>
                </div>

                <button class="p-3 mt-3 btn btn-outline-light">Xem lịch sử đặt phòng</button>
                <button class="p-3 mt-3 btn btn-light">Đăng xuất</button>
            </div>
            <div class="container-fluid w-25">
                <div class="row mb-3">
                    <span class="fs-5 fw-bold">Họ tên</span>
                    <input id="persona-name" type="text" required placeholder="Nhập họ tên"
                           style="padding:1rem; border-radius: 10px; border: none; opacity: 0.8" />
                </div>
                <div class="row mb-3">
                    <span class="fs-5 fw-bold">Email</span>
                    <input id="persona-email" type="text" required placeholder="abc@gmail.com"
                           style="padding:1rem; border-radius: 10px; border: none; opacity: 0.8" />
                </div>
                <div class="row mb-3">
                    <span class="fs-5 fw-bold">Số điện thoại</span>
                    <input id="persona-phone" type="text" required placeholder="+84** **** ***"
                           style="padding:1rem; border-radius: 10px; border: none; opacity: 0.8" />
                </div>
                <div class="row mb-3">
                    <span class="fs-5 fw-bold">Địa chỉ</span>
                    <input id="persona-address" type="text" required placeholder="Nhập địa chỉ"
                           style="padding:1rem; border-radius: 10px; border: none; opacity: 0.8" />
                </div>
                <div class="row">
                    <button class="btn-warning shadow-sm fs-5 w-100"
                            style="padding:1rem; border-radius: 10px; border: none; opacity: 0.9">
                        Lưu thay đổi
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</body>
</html>