

@{
    ViewBag.Title = "Hoá đơn";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}

<main>
    <form style="margin:20px">
        <fieldset disabled><h3>Hoá đơn</h3> </fieldset>
        <button type="button" class="btn btn-primary btn-lg mt-3">Thêm mới</button>
        <table class="table mt-3">
            <thead>
                <tr>
                    <th scope="col">ID phòng</th>
                    <th scope="col">Tên dịch vụ</th>
                    <th scope="col">Tài khoản thanh toán</th>
                    <th scope="col">Phương thức thanh toán</th>
                    <th scope="col">Trạng thái hóa đơn</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr>
                    <th scope="row"></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="d-flex align-items-center justify-content-end">
                        <button type="button" style="padding: 10px ; width: 100px;" class="btn btn-danger btn-lg">Sửa </button>
                        <button type="button" style="padding: 10px ; width: 100px;" class="btn btn-dark btn-lg">Chi tiết </button>
                        <button type="button" style="padding: 10px ; width: 100px;" class="btn btn-warning btn-lg">Xóa </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</main>