
@{
    ViewBag.Title = "Room";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}
<main>
    <form style="margin:20px">
        <fieldset disabled><h3>Loại phòng</h3></fieldset>
        <button type="button" class="btn btn-primary btn-lg mb-4 mt-3">
            @Html.ActionLink("Thêm mới", "ThemLoaiPhong", "HomeAdmin", new { area = "Admin" }, new { @style = "color: #ffffff; text-decoration: none" })

        </button>
        <table class="table mt-3">
            <thead>
                <tr>
                    <th scope="col">Loại phòng</th>
                    <th scope="col">Giá</th>
                    <th scope="col">Số lượng</th>
                </tr>
            </thead>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="d-flex align-items-center justify-content-end">
                    <button type="button" style="padding: 10px ; width: 100px" class="btn btn-danger btn-lg">Sửa </button>
                    <button type="button" style="padding: 10px ; width: 100px" class="btn btn-dark btn-lg">Chi tiết </button>
                    <button type="button" style="padding: 10px ; width: 100px" class="btn btn-warning btn-lg">Xóa </button>
                </td>
            </tr>
        </table>
    </form>
</main>

