
@{
    ViewBag.Title = "newCreatePayment";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}
<form style="margin:20px">
    <fieldset disabled><h3>Thêm hoá đơn</h3> </fieldset>
    <div class="my-3">
        <label for="input-id-bill-room" class="form-label">ID phòng</label>
        <input type="text" class="form-control" id="input-ID-phong">
    </div>
    <div class="my-3">
        <label for="input-customer-name" class="form-label">Tên khách hàng</label>
        <input type="text" class="form-control" id="input-customer-name">
    </div>
    <div class="form-floating">
        <div class="mb-3">
            <label for="input-bill-status" class="form-label">Tên dịch vụ</label>
            <select class="form-select " id="floatingSelect" aria-label="Floating label select example">
                <option selected>Ăn uống</option>
                <option value="1">Spa</option>
                <option value="2">Gym</option>
            </select>
        </div>
    </div>
    <div class="mb-3">
        <label for="input-TKTT" class="form-label">Tài khoản thanh toán</label>
        <input type="text" class="form-control" id="input-TKTT">
    </div>
    <div class="mb-3">
        <label for="input-bill" class="form-label">Tổng tiền</label>
        <input type="text" class="form-control" id="input-bill">
    </div>
    <div class="mb-3">
        <label for="input-payment" class="form-label">Tiền đã thanh toán</label>
        <input type="text" class="form-control" id="input-payment">
    </div>
    <div class="mb-3">
        <label for="input-debt" class="form-label">Tiền còn nợ</label>
        <input type="text" class="form-control" id="input-debt">
    </div>
    <div class="form-floating">
        <div class="mb-3">
            <label for="input-bill-status" class="form-label">Trạng thái hóa đơn</label>
            <select class="form-select " id="floatingSelect" aria-label="Floating label select example">
                <option selected>Chưa thanh toán</option>
                <option value="1">Đã thanh toán</option>
                <option value="2">Còn nợ</option>
            </select>
        </div>
    </div>
    <button type="submit" style="margin: 10px 0" class="btn btn-primary">Thêm</button>
    <button type="submit" class="btn btn-danger">Trở về danh sách</button>
</form>